body{
    font-family: "Times New Roman";

    background: white;
    color: black;
}
article{
    font-family: "Times New Roman";
}
div {
    font-family: Arial, sans-serif;
}
    #center {text-align: center}
