<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Добавление доков</title>
    <link href="{% static 'Styles/styleform.css' %}" type="text/css" rel="stylesheet">
</head>
<body>
<header>
    <img class="image" src="{% static 'porthub_menu.png' %}">
    <img class="image1" src="{% static 'port_icon.png' %}">
</header>
<fieldset>
    <legend>Добавление нового причала</legend>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <p><label for="id_Name">Название :</label> <input type="text" name="Name" maxlength="100" required=""
                                                          id="id_Name"></p>
        <p><label for="id_WorkNorm">Рабочая норма :</label> <input type="text" name="WorkNorm" maxlength="100"
                                                                   required="" id="id_WorkNorm"></p>
        <p><label for="id_WorkTime">Время :</label> <input type="text" name="WorkTime" maxlength="100" required=""
                                                           id="id_WorkTime"></p>
        <p><label for="id_Type">Тип :</label> <input type="text" name="Type" maxlength="100" required="" id="id_Type">
        </p>
        <br><input type="submit" value="Создать"/></br>
    </form>
    <a href="{% url 'portinfo' Port.ID %}"><input type="submit" value="Назад"></input></a>
</fieldset>
</body>
</html>
