<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить корабль</title>
	<link href="static/Styles/styleform.css" type="text/css" rel="stylesheet">
</head>
<body>
<header>
<img class="image" src="static/porthub_menu.png">
<img class="image1" src="static/port_icon.png">
</header>
<fieldset>
<legend>Добавление нового судна</legend>
 <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
     <p><label for="id_Name">Название :</label> <input type="text" name="Name" maxlength="100" required="" id="id_Name"></p>
     <p><label for="id_Type">Тип :</label> <input type="text" name="Type" maxlength="100" required="" id="id_Type"></p>
     <p><label for="id_Characteristic">Характеристика :</label> <input type="text" name="Characteristic" maxlength="100" required="" id="id_Characteristic"></p>
     <p><label for="id_Time">Время :</label> <input type="text" name="Time" maxlength="100" required="" id="id_Time"></p>
        <br><input type="submit" value="Создать"/></br>
    </form>
</body>
</html>
