<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{ Dock.Name }}
        {% endblock %}
    </title>
    <link href="/static/Styles/style3.css" type="text/css" rel="stylesheet">
</head>
<body>
 <header>
<img class="image" src="/static/porthub_menu.png">
<img class="image1" src="/static/port_icon.png">
</header>
 {%  if Func == "Admin" %}
<button><a href="{% url 'addship' Port.ID Dock.ID %}">Добавить</a></button>
 {% endif %}
{% for i in Ships %}
<table>
    <tr><th>Название:</th><td> {{ i.Name }}</td>
    <tr><th>Рабочая норма:</th><td> {{ i.Type }}</td>
    <tr><th>Время работы:</th><td> {{ i.Characteristic }}</td>
    <tr><th>Тип:</th><td> {{ i.Time }}</td>
</table>
{% endfor %}
<button><a href="/">Назад</a></button>
</body>
</html>
