<!DOCTYPE html>
{% load static %}
<html lang="ru" >
<head>
    <link rel="stylesheet" href="{% static 'templates/Styles/styles.css' %}">
    <meta charset="UTF-8">
    <title>{% block title %} Вход {% endblock %}</title>
</head>
<body>
<center>

    <header><h1>Вход</h1></header>
    <form action="/your-name/" method="post">
    {% csrf_token %}
     <label for="your_name">Логин:</label><input id="your_name" type="text" name="your_name" size="40"/></p>
    Пароль:<input type="text" size="40"/></p>
    {{ form }}
    <input type="submit" value="Войти" />
</form>
</center>
</body>
</html>