<!DOCTYPE html>
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>
        Меню
    </title>
</head>
<link href="{% static 'Styles/style1.css' %}" type="text/css" rel="stylesheet">
<header>
    <img class="image" src="{% static 'porthub_menu.png' %}">
    <img class="image1" src="{% static 'port_icon.png' %}">
</header>
<body>
<table>
    <div class="special"><a href="{% url 'moderatorlist' %}">Список модераторов</a></div>
    <div class="special"><a href="{% url 'userlist' %}">Список пользователей</a></div>
    <div class="special"><a href="{% url 'portlist' %}">Список портов</a></div>
    <div class="special"><a href="{% url 'logout' %}">Выйти</a></div>
</table>
</body>
</html>
